absl-py==1.0.0
addict==2.4.0
alabaster==0.7.12
albumentations==1.3.0
anykeystore==0.2
apex==0.9.10.dev0
art==5.7
attrs==22.1.0
Babel==2.10.1
cachetools==5.1.0
certifi==2022.5.18.1
chainer==7.8.1
chainercv==0.13.1
charset-normalizer==2.0.12
cityscapesScripts==1.0.8
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
config-file==0.12.0
contextlib2==21.6.0
cryptacular==1.6.2
cycler==0.11.0
Cython==0.29.35
deep-utils==1.2.1
defusedxml==0.7.1
descartes==1.1.0
Detectron==0.0.0
dill==0.3.6
docutils==0.17.1
easydict==1.10
efficientnet-pytorch==0.7.1
et-xmlfile==1.1.0
filelock==3.8.0
filterpy==1.4.5
Fiona==1.8.22
fonttools==4.33.3
fsspec==2023.1.0
GDAL==2.4.1
geopandas==0.10.2
google-auth==2.6.6
google-auth-oauthlib==0.4.6
greenlet==3.0.1
grpcio==1.46.3
h5py==3.8.0
huggingface-hub==0.16.4
hupper==1.12
idna==3.3
imagecodecs==2021.11.20
imageio==2.19.2
imagesize==1.3.0
imgviz==1.6.2
importlib-metadata==6.7.0
Jinja2==3.1.2
joblib==1.2.0
jsmin==3.0.1
kiwisolver==1.4.2
labelme==5.1.1
llvmlite==0.38.1
lxml==4.9.3
map-boxes==1.0.5
Markdown==3.3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
mdurl==0.1.2
memory-profiler==0.61.0
ml-collections==0.1.1
mmcv==2.1.0
mmengine==0.9.0
multiprocess==0.70.14
munch==2.5.0
natsort==8.2.0
networkx==2.6.3
numba==0.55.1
numpy==1.21.6
numpydoc==1.3.1
oauthlib==3.2.0
opencv-python==4.7.0.72
opencv-python-headless==4.8.1.78
openpyxl==3.0.10
packaging==21.3
pandas==1.3.5
PasteDeploy==3.0.1
pbkdf2==1.3
Pillow==9.1.1
pip==21.2.2
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==3.11.0
POT==0.8.2
pretrainedmodels==0.7.4
protobuf==3.20.1
psutil==5.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycm==3.6
pycocotools==2.0.4
Pygments==2.16.1
pyparsing==3.0.9
pyproj==3.2.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyramid==2.0.2
pyramid-mailer==0.15.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytorch-pretrained-vit==0.0.7
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
QtPy==2.3.0
qudida==0.0.4
rdp==0.8
regex==2023.6.3
repoze.sendmail==4.4.1
requests==2.27.1
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.8
Rtree==1.0.1
safetensors==0.3.1
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
setuptools==61.2.0
Shapely==1.8.5.post1
six==1.16.0
skan==0.9
sknw==0.14
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.22
tacs==0.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==2.1.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2021.11.2
timeout-decorator==0.5.0
timm==0.6.11
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==1.8.0
torchinfo==1.6.6
torchvision==0.9.0
tqdm==4.64.0
transaction==3.1.0
transformers==4.30.2
translationstring==1.4
typing_extensions==4.7.1
urllib3==1.26.9
velruse==1.1.1
venusian==3.0.0
WebOb==1.8.7
Werkzeug==2.1.2
wheel==0.37.1
WTForms==3.0.1
wtforms-recaptcha==0.3.2
yacs==0.1.8
yapf==0.40.2
zipp==3.8.0
zope.deprecation==5.0
zope.interface==6.1
zope.sqlalchemy==3.1
